.dino {
  width: 60px;
  height: 60px;
  background-color: rgb(216, 15, 15);
  position: absolute;
  bottom: 0;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-color: rgb(4, 41, 41);
}
